name: CI

on:
  push:
    branches:
      - main
    tags: '*'
  pull_request:
    
jobs:
  # Job for the GitHub hosted runners (ubuntu, windows, macos)
  test-github:
    uses: control-toolbox/CTActions/.github/workflows/ci.yml@main
    with:
      runs_on: '["ubuntu-latest", "macos-latest"]'
      runner_type: 'github'
      use_ct_registry: true
    secrets:
      SSH_KEY: ${{ secrets.SSH_KEY }}

# Job for the self-hosted runner moonshot (GPU/CUDA)
#   test-moonshot:
#     uses: control-toolbox/CTActions/.github/workflows/ci.yml@main
#     with:
#       versions: '["1"]'
#       runs_on: '["moonshot"]'
#       archs: '["x64"]'
#       runner_type: 'self-hosted'
